.container {
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head{
  font-size: 4rem;
  margin-bottom: 0;
  padding-left: 3rem;
}

.inputDiv{
  width: 500px;
  margin: 5rem 0;
  padding: 0 .5rem 0 3rem;
}

@media screen and (max-width: 1200px) {
  .container{
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .container{
    align-items: center;
  }

  .head{
    padding-left: 0;
  }
  
  .inputDiv{
    padding: 1rem 1rem 0;
  }
}

@media screen and (max-width: 550px) {
  .inputDiv{
    width: 100%;
  }

  .input{
    width: 100%;
  }

  .head{
    font-size: 3rem;
  }
}